<div style="width: 100%; margin: 0 auto; text-align: left;">
  <p style="font-size: 15px; margin-top: 8px; text-align: justify;">
    {{t "income_statement_email.greeting" client=client}}
  </p>

  <p style="font-size: 15px; margin-top: 14px; text-align: justify;">
    {{t
      "income_statement_email.body_1"
      churchName=churchName
      reportPeriod=reportPeriod
    }}
  </p>

  <p style="font-size: 15px; margin-top: 14px; text-align: justify;">
    {{t "income_statement_email.body_2"}}
  </p>

  <p style="font-size: 14px; margin-top: 22px; color: #727f80;">
    {{t "income_statement_email.footer"}}
  </p>
</div>