<!-- cuerpo -->
<div style="width: 100%;margin: 0 auto; text-align: left;">
  <p style="   font-size: 15px; margin-top: 20px;text-align:justify;">
    Criámos uma senha temporária aleatória para que possa aceder à nossa
    aplicação.
  </p>
  <p style="   font-size: 15px; margin-top: 20px;text-align:justify;">
    A senha temporária é:
    <b>{{temporal_password}}</b>
  </p>
</div>

<br />

<!-- fin cuerpo -->